:root {
    --max-width: 1100px;
    --border-radius: 12px;

    --default-font-size: 16px;
    --font: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --primary: #5222D0;
    --primary-contrast-text: #fff;
    --primary-contrast-text-active: #DBFFFF;
}

html,
body {
    height: 100%;
    font: var(--font);
    font-size: var(--default-font-size);
}

html {
    width: 100%;

}

body {
    margin: auto;
    width: 75%;
}
