.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 40%;
}

.primaryH {
    font-size: 72px;
    font-weight: bold;
    color: var(--primary);
}

.secondaryH {
    font-size: 20px;
}
